*{
    padding: 0;
    margin: 0;
}
body{
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family: sans-serif;
    box-sizing: border-box;
}

header{
    /* display: grid;
    grid-template-rows: 10vh 15vh; */
    position: relative;
 }
 .topHeader{
     height: 10vh;
     background-color: #DFFFF9;
     display: flex;
 }
 .topHeaderRight{
     display: flex;
     margin-left: 100px;
     align-items: center;
 }
 .topHeaderRight p{
     font-size: 16px;
     cursor: pointer;
     margin-right: 20px;
     font-weight: 600;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .topHeaderLeft{
     margin-left: 250px;
     display: flex;
     align-items: center;
 }
 .topHeaderLeft img{
     height: 30px;
     margin-left: 30px;
     cursor: pointer;
 }
 .outshine{
     height: 50px;
     cursor: pointer;
 }
 .MidHeader{
     font-size: 16px;
     height: 15vh;
     background-color: white;
     display: flex;
     align-items: center;
     justify-content: space-between;
     position: sticky;
     top: 0px;
     z-index: 999;
 }
 .MidHeaderRight{
     margin-left: 100px;
     height: 100%;
     width: 30vw;
     display: flex;
     align-items: center;
 }
 .MidHeaderRight ul{
     visibility: hidden;
     position: relative;
     top: 100px;
     right: 50px;
     width: 20vw;
     background-color: brown;
     list-style: none;
     z-index: 100;
 }
 .MidHeaderRight ul:hover{
     visibility: visible;
 }
 .MidHeaderRight ul li{
     font-size: 20px;
     color: black;
     margin-bottom: 10px;
 }
 .MidHeaderRight a{
     text-decoration: none;
     color: black;
     font-weight: 600;
 }
 .MidHeaderRight p{
     cursor: pointer;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     margin-right: 30px;
     font-weight: 600;
 }
 .midHeaderMid img{
     height: 170px;
     position: relative;
     top: 30px;
     cursor: pointer;
 }
 .midHeaderLeft{
     margin-right: 100px;
     height: 100%;
     width: 30vw;
     /* background-color: red; */
     display: flex;
     align-items: center;  
     justify-content: flex-end;
 }
 .midHeaderLeft ul{
     list-style: none;
     display: flex;
   
 }
 .midHeaderLeft li{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     margin-left: 30px;
     font-weight: 600;
 }
 .midHeaderLeft a{
     text-decoration: none;
     color: black;
 }
 .midHeaderLeft li img{
     height: 20px;
 }


main{
    display: grid;
    grid-template-rows: repeat(4, 80vh);
}
.hero1{
    display: flex;
    background-image: url(../img/favHero.jpeg);
    background-size: cover;
   
}
.hero1 h1{
    margin-left: 100px;
    font-size: 4.2rem;
    color: rgb(90, 39, 2);
}
.hero1 h2{
    margin-left: 100px;
    margin-top: 10px;
    font-size: 2rem;
    color: rgb(90, 39, 2);
    line-height: 5vh;
    font-weight: 200;
}
.left{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.right{
    height: 100%;
    width: 50%;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero2{
    display: flex;
    background-color: pink;
}
.rightHolder{
    width: 30vw;
    height: 60%;
 

}
.rightHolder h3{
    margin-bottom: 20px;
}
.rightHolder h1{
    font-size: 2.56rem;
    margin-bottom: 20px;
    margin-bottom: 30px;
}
.rightHolder p{
    font-size: 16px;
    margin-bottom: 20px;
    margin-bottom: 30px;
    font-weight: 400;
}
.right img{
    height: 100%;
    width: 100%;
}
.hero3{
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left3{
    background-color: antiquewhite;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero4{
    background-color: navajowhite;
    display: flex;
}
.hero4 :nth-last-child(1){
    background-color: white;
}
.hero4 img{
    width: 100%;
    height: 100%;
}
footer{
    height: 30vh;
    background-color: #DFFFF9;
    display: grid;
    grid-template-columns: 20vw 1fr 20vw;

}
.footer1 img{
    height: 80px;
    margin-top: 50px;
    margin-left: 50px;
}
.footer2{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.footerNav{
    margin-top: 50px;
    height: 10vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-size: 16xp; */
    font-weight: 600;
}
.footerNav ul{
    display: flex;
}
.footerNav li{
    font-size: 16px;
    color: #655850;
    margin-left: 20px;
    list-style: none;
    cursor: pointer;
}
.copyright{
    height: 10vh;
}
.footer3 img{
    height: 40px;
    /* width: 20px; */
    margin-top: 50px;
    margin-left: 200px;
}