*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family: sans-serif;
    box-sizing: border-box;
}
eader{
    /* display: grid;
    grid-template-rows: 10vh 15vh; */
    position: relative;
 }
 .topHeader{
     height: 10vh;
     background-color: #DFFFF9;
     display: flex;
 }
 .topHeaderRight{
     display: flex;
     margin-left: 100px;
     align-items: center;
 }
 .topHeaderRight p{
     font-size: 16px;
     cursor: pointer;
     margin-right: 20px;
     font-weight: 600;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .topHeaderLeft{
     margin-left: 250px;
     display: flex;
     align-items: center;
 }
 .topHeaderLeft img{
     height: 30px;
     margin-left: 30px;
     cursor: pointer;
 }
 .outshine{
     height: 50px;
     cursor: pointer;
 }
 .MidHeader{
     font-size: 16px;
     height: 15vh;
     background-color: white;
     display: flex;
     align-items: center;
     justify-content: space-between;
     position: sticky;
     top: 0px;
     z-index: 999;
     border-bottom: 1px solid lightgray;
 }
 .MidHeaderRight{
     margin-left: 100px;
     height: 100%;
     width: 30vw;
     display: flex;
     align-items: center;
 }
 .MidHeaderRight ul{
     visibility: hidden;
     position: relative;
     top: 100px;
     right: 50px;
     width: 20vw;
     background-color: brown;
     list-style: none;
     z-index: 100;
 }
 .MidHeaderRight ul:hover{
     visibility: visible;
 }
 .MidHeaderRight ul li{
     font-size: 20px;
     color: black;
     margin-bottom: 10px;
 }
 .MidHeaderRight a{
     text-decoration: none;
     color: black;
     font-weight: 600;
 }
 .MidHeaderRight p{
     cursor: pointer;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     margin-right: 30px;
     font-weight: 600;
 }
 .midHeaderMid img{
     height: 170px;
     position: relative;
     top: 30px;
     cursor: pointer;
 }
 .midHeaderLeft{
     margin-right: 100px;
     height: 100%;
     width: 30vw;
     /* background-color: red; */
     display: flex;
     align-items: center;  
     justify-content: flex-end;
 }
 .midHeaderLeft ul{
     list-style: none;
     display: flex;
   
 }
 .midHeaderLeft li{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     margin-left: 30px;
     font-weight: 600;
 }
 .midHeaderLeft a{
     text-decoration: none;
     color: black;
 }
 .midHeaderLeft li img{
     height: 20px;
 }
main{
    display: grid;
    grid-template-rows: 80vh 78vh;
}
.hero1{
    /* height: 80vh; */
    /* width: 100%; */
    /* background-color: red; */
    background-image:url(../img/girl.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    align-items: center;
}
.hero1 h1{
    margin-left: 80px;
    font-size: 70px;
    color: #655850;
    line-height: 1;
}
.hero1 p{
    margin-top: 15px;
    margin-left: 80px;
    font-size: 25px;
    color: #655850;
}
.hero2{
    background-image:url(../img/Homepage-Two-Color-Pink-Yellow-Background-Banner-1440x816.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 10vh 50vh 7vh 10vh;
}
.secretRecipe{
    display: flex;
    justify-content: center;
    align-items: center;
}
.secretRecipe h1{
    font-size: 40px;
    color: #655850;;
}
.secretRecipeSlide{
    display: flex;
    justify-content: center;
}
.slideHolder{
    height: 100%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.slideImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease .2s;
}
.slideImg:hover{
    transform: scale(.9);
}
.radio{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.radio input{
    margin: 7px;
    height: 10px;
    width: 10px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn a{
    padding: 15px 30px;
    border-radius: 30px;
    border: 2px solid #00B9DB;
    text-decoration: none;
    background-color: white;
    font-weight: 400;
    color: black;
    font-size: 16px;
    transition: all ease-in .2s;
}
.btn a:hover{
    opacity: .9;
    font-weight: 600;
}
.hero3{
    height: 75vh;
    display: flex;
}
.HeroLeft{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.HeroLeftText{
    width: 80%;
    height: 70%;
}
.HeroLeftText h1{
    
    color: #655850;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 30px;
}
.HeroLeftText h3{
    margin-top: 40px;
    color: #655850;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20px;
}
.HeroLeftText p{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 30px;
}
.HeroLeftText a{
    padding: 15px 30px;
    border-radius: 50px;
    color: black;
    border: 2px solid #00B9DB;
    background-color: white;
    text-decoration: none;
    font-weight: 600;

}
.HeroRight{
    height: 100%;
    width: 50%;
}
.HeroRight img{
    width: 100%;
    width: 100%;
    transition: all ease .2s;
}
.HeroRight img:hover{
    transform: scale(.95);
}
.hero4{
    height: 75vh;
    display: flex;
}

.hero5{
    height: 78vh;
    background-image: url(../img/Homepage-Two-Color-Green-Green-Background-Banner-1440x816.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 10vh 1fr 5vh;
}
.hero5txt{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero5txt h1{
    color: #655850;
}
.freIceCream{
    display: flex;
    justify-content: center;
    align-items: center;
}
.freIceCreamHolder{
    height: 100%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.img1{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(../img/featurecard--3xhtIf.png);
    background-size: 100%;
    background-repeat: no-repeat;
    flex-direction: column;
    text-align: center; 
    transition: all ease .2s;
}
.img1:hover{
    transform: scale(1.1);
}
.img1 h1{
    position: relative;
    top: 100px;
    right: 100px;
    cursor: pointer;
}
.img1 h3{
    position: relative;
    top: 110px;
    right: 190px;
    cursor: pointer;
}
.img2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url(../img/featurecard--UPPZ4k.png);
    background-size: 100%;
    background-repeat: no-repeat;
    flex-direction: column;
    text-align: center;
    transition: all ease .2s;
}

.img2:hover{
    transform: scale(1.1);
}
.img2 h1{
    position: relative;
    bottom: 120px;
    cursor: pointer;
}
.img2 h3{
    position: relative;
    bottom: 110px;
    cursor: pointer;
}
.img3{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url(../img/featurecard--kp79sK.png);
    background-size: 100%;
    background-repeat: no-repeat;
    flex-direction: column;
    text-align: center;
    transition: all ease .2s;
}
.img3:hover{
    transform: scale(1.1);
}
.img3 h1{
    position: relative;
    bottom: 120px;
    cursor: pointer;
}
.img3 h3{
    position: relative;
    bottom: 110px;
    cursor: pointer;
}
.hero6{
    height: 60vh;
    background-image: url(../img/Brands-Background-Waffle-Cone-Blue-1440x460.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero6holder{
    height: 80%;
    width: 90%;
    display: grid;
    grid-template-rows: 15vh 1fr;
}
.hero6txt{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero6txt h1{
    font-size: 2.5rem;
}
.hero6img{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.logo1{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    height: 30vh;
    background-color: #DFFFF9;
    display: grid;
    grid-template-columns: 20vw 1fr 20vw;

}
.footer1 img{
    height: 80px;
    margin-top: 50px;
    margin-left: 50px;
}
.footer2{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.footerNav{
    margin-top: 50px;
    height: 10vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-size: 16xp; */
    font-weight: 600;
}
.footerNav ul{
    display: flex;
}
.footerNav li{
    font-size: 16px;
    color: #655850;
    margin-left: 20px;
    list-style: none;
    cursor: pointer;
}
.copyright{
    height: 10vh;
}
.footer3 img{
    height: 40px;
    /* width: 20px; */
    margin-top: 50px;
    margin-left: 200px;
}