*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    background-image: url(../img/blueberry-ice-cream-scoops-with-waffle-wooden-table.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    justify-content: center;
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.418);
    display: flex;
    align-items: center;
    /* opacity: .9; */
}
h1{
    /* margin-top: 20px; */
    text-align: center;
}
.form{
    height: 600px;
    width: 450px;
    background-color: #F4F0F5;
    /* opacity: .9; */
    margin-left: 100px;
    border-radius: 10px; 
}

.logo img{
    height: 70px;
   position: relative;
   top: 50px;
   margin-left: 30px;
   
}
.google-signin{
    height: 50px;
    width: 240px;
    background-color: white;
    border: 2px solid #00B9DB;
    margin-left: 18px;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.google-signin:hover{
    font-weight: 600;
}
.google-signin img{
    height: 30px;
    width: 30px;
    margin-left: 35px;
}
.text{
    margin-left: 10px;
}
.text a{
    text-decoration: none;
    color: black;
}

.holder{
    height: 55%;
    width: 85%;
    /* border: 1px solid #00B9DB; */
    margin-left: 18px;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
label{
    font-size: 18px;
}
.div1, .div2, .div3, button{
    margin-bottom: 8px
}
input{
    display: flex;
    flex: 1;
    border: none;
    outline: none;
    
    /* margin-top:5px ;
    padding: 8px;
    width: 7; */
}
.password{
    margin-top: 5px;
}
.confirm-password{
margin-bottom: 5px;
}
.name, .pwrd,.confirm-pwd{
    border-radius: 10px;
    border: 1px solid lightgray;
    height: 3vh;
    width: 100%;
    background-color: white;
    display: flex;   
}

.name:hover{
    box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
}
.pwrd:hover{
    box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
}
.confirm-pwd:hover{
    box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
}
.btn{
     margin-top: 30px;
}
.btn a{
    padding: 15px 25px;
   text-decoration: none;
   color: black;
   font-weight: 600;
    border-radius: 10px;
    font-size: 14px;
    border: 2px solid #00B9DB;
    background-color: white;
}
.name, .pwrd, .confirm-pwd{
    padding: 10px;
}
.tt{
    margin-top: 40px;
    color: black;
    font-weight: 600;
    text-decoration: none;
    line-height: 1.5;
    
}
